.vscode/
.history/
.idea
*.sublime-workspace
*.sublime-project
*.code-workspace
*.user
*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.suo
*.tmp
*.log

glider_design_inference_model.pkl
glider_design_target_cols.pkl